logs/
npm-debug.log
node_modules/
coverage/
.idea/
run/
.DS_Store
.vscode
*.swp
*.lock
*.js
!.autod.conf.js
dist
dist-ssr
*.local

packages/server/app/**/*.js
packages/server/test/**/*.js
packages/server/config/**/*.js
packages/server/app/**/*.map
packages/server/test/**/*.map
packages/server/config/**/*.map



